[user]
	email = rconnorlawson@gatech.edu
	name = Connor Lawson

[core]
	editor = vim
	autocrlf = input

[alias]
	hist = "log --oneline --branches --graph --decorate"
    dhist = "log --graph --abbrev-commit --date=short --branches --pretty=format:'%C(auto)%h%Creset %C(bold blue)%ad%Creset%C(auto)%d%Creset %s'"
	co = "checkout"

[push]
	default = simple

[http]
	sslVerify = false

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[credential]
	helper = cache --timeout=3600
